<%= form_for(@dealership) do |f| %>
  <h2>Add a new dealership</h2>
  <% if @dealership.errors.any? %>
    <div>
      <ul>
        <% @dealership.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label 'name:' %> <br>
    <%= f.text_field :name%>
  </div>
  <br>
  
  <div>
    <%= f.label 'address:' %> <br>
    <%= f.text_field :address%>
  </div>
  <br>

  <%= f.submit 'Add to Inventory' %>

<% end %>
<%= link_to "<- back", cars_path %>